*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #264653;
  display: flex;
  flex-direction: column;
  gap: 16px;

  justify-content: center;
}
.layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 1300px;
    height: 400px;
    background: #fff;
    margin: 120px auto;
    display: flex;
}

.col{
    position: relative;
    height: 100%;
    flex: 1;
    color: #fff;
    box-sizing: border-box;
    padding: 25px;
    transition: 0.6s ease;
}

.col:nth-child(1){
    background-color: #008000;
}
.col:nth-child(2){
    background-color: #FF69B4;
}
.col:nth-child(3){
    background-color: #FFC800;
}
.col:nth-child(4){
    background-color: #0000FF;
}
.col:nth-child(5){
    background-color: #000000;
}
.col:nth-child(6){
    background-color: #FF0000;
}
.col:nth-child(7){
    background-color: #800080;
}

.col h2{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.caption{
    max-width: 230px;
    font-size: 12px;
    margin: 28px 0;
    display: none;
    animation: 0.6s;
}

.caption button{
    border: 1px solid #fff;
    background-color: transparent;
    outline: none;
    padding: 8px 18px;
    color: #fff;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 12px;
}

.col img{
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.col:hover{
    flex-grow: 7.5;
}

.col:hover .caption{
    display: block;
}

.col:hover h2{
    text-align: left;
}

.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
.p4 {
  font-family: "Times New Roman", Times, serif;
}

.p5 {
  font-family: Arial, Helvetica, sans-serif;
}

.p6 {
  font-family: "Lucida Console", "Courier New", monospace;
}
.p7 {
  font-family: "Times New Roman", Times, serif;
}